<p><%= flash[:notice] %></p>

<div class="container">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3">
      <%= render 'layouts/userinfo', user: @user, book: @book %>
    </div>

    <!--Book detail-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @mybook.user.get_profile_image(100,100) %><br>
              <%= link_to @mybook.user.name, user_path(@mybook.user.id) %>
            </td>
            <td>
              <a href=<%= book_path(@mybook.id) %>>
                <%= @mybook.title %>
              </a>
            </td>
            <td><%= @mybook.body %></td>
            <% if @mybook.user.id==current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@mybook.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@mybook.id), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" } %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>