<p></p>

<div class="container">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-3">
      <%= render 'layouts/userinfo', user: @user, book: @book %>
    </div>

    <!--Book detail-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.get_book_image(80,80) %><br>
              <%= @user.name %>
            </td>
            <td>
              <a href=<%= book_path(@book.id) %>>
                <%= @book.title %>
              </a>
            </td>
            <td><%= @book.body %></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>